@import url(app.css);

.styled-card {
  max-width: 900px;
  margin: 3rem auto;
  padding: 6rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  /* background: linear-gradient(135deg, #f6f9fc 0%, #ffffff 100%); */
  background-image: linear-gradient(142deg, #030950, #12175F, #2F1F2F);
  position: relative;
  overflow: visible;
}

.styled-card::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  z-index: -1;
  border-radius: 32px;
  filter: blur(20px);
  opacity: 0.7;
}

.styled-button {
  margin-top: 24px;
  border-radius: 12px;
  padding: 14px 28px;
  font-weight: bold;
  text-transform: none;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 4px 15px rgba(37, 117, 252, 0.2);
  transition: all 0.3s ease;
}

.styled-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(37, 117, 252, 0.3);
}

.form-title {
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.styled-text-field {
  border-radius: 12px;
}

.result-text {
  margin-top: 2rem;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.styled-form-control {
  border-radius: 12px;
}
